{
  "extends": [
    "airbnb-base",
    "prettier",
    "plugin:security/recommended"
  ],
  "plugins": [
    "import",
    "prettier"
  ],
  "env": {
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": "latest"
  },
  "rules": {
    "prettier/prettier": "error"
  }
}
